{% extends "admin/change_form.html" %}
{# Toto je vlastny change_form, ktory overriduje iba niektore bloky. Nezmazat! #}
{% load i18n %}

{# Pridanie javascriptu #}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cron_widget.js"></script>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}cron_widget.css" />
{% endblock %}

{# Pridanie vlastneho linku #}
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
{# 	<li><a href="{% url serviceconfig.admin_views.report %}" class="historylink">Report (skuska)</a></li> #}
    {% if has_absolute_url %}
        <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">
            {% trans "View on site" %}</a>
        </li>
    {% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}
